///////////////
// Variables //
///////////////
// Fonts
$font-family: Roboto, "Roboto", sans-serif !default;
$font-weight: 300 !default;

// Colours
$white: #FFF;
$black: #212121;
$grey-bg: #E0E0E0;
$orange: #F57C00;       // Orange 700
$orange-light: #FF9800; // Orange 500
$blue: #1976D2;         // Blue 700
$blue-light: #2196F3;   // Blue 500
$purple: #512DA8;       // Purple 700
$purple-light: #673AB7; // Purple 500
$green: #388E3C;        // Green 700
$green-light: #4CAF50;  // Green 500
$grey: #455A64;         // Grey 700
$grey-light: #607D8B;   // Grey 500

// Misc
$radius: 5px !default;
$speed: 0.7s !default;


/////////////
// Imports //
/////////////
@import 'normalize';
@import 'fonts';
@import 'animations';


///////////////////////
// AngularJS Helpers //
///////////////////////
[ng-cloak] {
  display: none !important;
}


///////////////////
// Global Styles //
///////////////////
html {
  background-color: $grey-bg;
  color: $black;
  font: $font-weight 1.2em $font-family;
  margin-left: 1em;
  margin-right: 1em;
}

header { margin-bottom: 2em; }

h1 {
  font-size: 2.3em;
  font-weight: $font-weight;
}

.lead { font-size: 1.3em; }

button {
  background-color: transparent;
  font-family: $font-family;
  font-size: 1.2em;
  font-weight: $font-weight;
  border: none;
  padding: 0.4em;
  opacity: 0.6;

  &:focus {
    outline:none;
  }
}

.btn-random {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: $radius;

  &:hover {
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
  }

  & > .icon {
    vertical-align: -2px;
  }
}

.btn-locate:hover {
  opacity: 1;
}

.card {
  // Animate background colour changes
  transition: background-color $speed ease;

  color: $white;
  padding: 1em;
  border-radius: $radius;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 30em;
  position: relative;
  z-index: 2;

  &.orange {
    background-color: $orange-light;

    .location-panel {
      background-color: $orange;
    }

    & + .card {
      color: $orange;
    }
  }

  &.blue {
    background-color: $blue-light;

    .location-panel {
      background-color: $blue;
    }

    & + .card {
      color: $blue;
    }
  }

  &.purple {
    background-color: $purple-light;

    .location-panel {
      background-color: $purple;
    }

    & + .card {
      color: $purple;
    }
  }

  &.grey {
    background-color: $grey-light;

    .location-panel {
      background-color: $grey;
    }

    & + .card {
      color: $grey;
    }
  }

  &.green {
    background-color: $green-light;

    .location-panel {
      background-color: $green;
    }

    & + .card {
      color: $green;
    }
  }

  & + .card {
    background-color: $white;
    padding-top: 0.6em;
    margin-top: -0.5em;
    z-index: 1;

    & > p {
      // Animate text colour changes
      transition: color $speed ease;
    }
  }
}

.top { padding: 0.3em 1em 1em; }

.temp-now {
  font-size: 6em;
  margin: 0;

  & > span {
    font-size: 0.6em;
    vertical-align: 0.48em;
  }
}

.weather-now {
  font-size: 2em;
  text-transform: capitalize;
  margin: 0.1em 0 0.2em;
}

.highlow {
  font-size: 1.2em;
  margin: 0 0 0.2em;
}

.location-panel {
  // Animate background colour changes
  transition: background-color $speed ease;
  font-size: 1.1em;
  border-radius: $radius;
}

.search { display: inline; }

.location {
  // Inline SVG: Search icon
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="36" height="36" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve" style="fill: #fff;fill-opacity:0.4"><path d="M35.5 31.2l-8.9-8.9c1.4-2.2 2.3-4.9 2.3-7.8 0-7.9-6.4-14.3-14.3-14.3 -7.9 0-14.3 6.4-14.3 14.3 0 7.9 6.4 14.3 14.3 14.3 2.9 0 5.5-0.8 7.8-2.3l8.9 8.9c0.3 0.3 0.8 0.3 1.1 0l3.2-3.2C35.8 32 35.8 31.5 35.5 31.2zM4.8 14.6c0-5.4 4.4-9.8 9.8-9.8 5.4 0 9.8 4.4 9.8 9.8 0 5.4-4.4 9.8-9.8 9.8C9.2 24.4 4.8 20 4.8 14.6z"/></svg>') 0.4em 50% no-repeat;
  color: $white;
  font-family: $font-family;
  font-size: 1.4em;
  font-weight: $font-weight;
  background-color: transparent;
  border: none;
  padding: 0.4em 0 0.4em 2em;
  width: 11.8em;

  &:focus {
    outline:none;
  }
}

.icon {
  font-family: "Meteocons", sans-serif;

  &.big {
    font-size: 8em;
    float: right;
  }
}

.or {
  vertical-align: 3px;
  opacity: 0.4;
}

.bottom {
  margin-top: 0.9em;

  .icon {
    font-size: 4em;
    margin-right: 0.15em;
    vertical-align: bottom;
    position: relative;
    top: 0.15em;
    float: left;
  }

  &:after {
    // CLearfix hack
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
}

.left {
  float: left;
  width: 49.8%;
}

.right {
  float: right;
  width: 49.8%;
}

.info {
  font-size: 1.2em;
  vertical-align: middle;
}

footer {
  text-align: center;
  margin: 3.5em 0 2em;

  & > a {
    color: darken($grey-bg, 15%);
    text-decoration: none;
  }
}
